.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.T {
  background-color: #282c34;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-flex;
  align-items: center;
}

.Testing {
  border-radius: 10px;
  padding: 3px;
  background-color: gray;
  color: black;
}
.TestingContent {
  border-radius: 10px;
  padding: 3px;
  background-color: white;
  color: black;
}
